/* Universal */
* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    background-size: cover;
    color: black;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4f4f4;
}

.dark{
    padding: 15px;
    background: #4e5b2d;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
    color: #9a784f;
    background: #16280e;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 2rem;
}

header nav {
    padding: 1rem 2rem;
}

    /* header h1 style */
        header h1 {
            letter-spacing: 2px;
            text-decoration: none;
            color: white;
        }

        header h1 a{
            padding: 1rem;
            margin: 1rem;
        }   

        header h1 a:visited {
            color: #f4f4f4;
        }

        header h1 a:hover {
            background-color:#ffce14;
            color: black;
            transition: 250ms ease-in;
        }


    /* header navigation */
        
        nav ul li{
            list-style: none;
            display: inline;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 5px;
        }

        nav li a{
            padding: 1rem;
            margin: 1rem;
            text-decoration: none;
            color: white;
            transition: all 250ms ease-in;
        }

        nav li a:hover {
            background-color: #ffce14;
            color: black;
        }


/* content */

aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
    margin-right: 40px;
}

/* Main-col*/
article#main-col{
    float: left;
    width: 65%;
}
#main {
    padding-left: 6rem;
    padding-top: 3rem;
    font-size: 1.1rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .containerShowcase{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#showcaseMountMakiling{
    min-height: 400px;
    background: url(../IMG/mountainInFog.jpg) no-repeat 0, -400px;
    text-align: center;
    color: white;
    background-size: cover;
}

#showcaseEnchantedKingdom{  
    min-height: 400px;
    background: url(../IMG/enchantedKingdom.jpg) no-repeat 0, -400px;
    text-align: center;
    color: white;
    background-size: cover;
}

#showcaseJapaneseGarden{
    min-height: 400px;  
    background: url(../IMG/japaneseGarden.jpg) no-repeat 0, -400px;
    text-align: center;
    color: white;
    background-size: cover;
}

#showcaseHuluganFalls{
    min-height: 400px;  
    background: url(../IMG/waterfall.jpg) no-repeat 0, -400px;
    text-align: center;
    color: white;
    background-size: cover;
}

#showcaseUndergroundCemetary{
    min-height: 400px;  
    background: url(../IMG/nagcarlan.jpeg) no-repeat 0, -400px;
    text-align: center;
    background-size: cover;
    color: white;
}

#showcaseJohnTheBaptistChurch {
    min-height: 400px;  
    background: url(../IMG/sjtbchurchsample.PNG) no-repeat 0, -400px;
    text-align: center;
    background-size: cover;
    color: white;
}

#showcaseRizalShrine {
    min-height: 400px;  
    background: url(../IMG/rizalshrine.jpg) no-repeat 0, -400px;
    text-align: center;
    background-size: cover;
    color: white;
}

#showcaseEconomicStatus {
    min-height: 400px;  
    background: url(../economics.jpg) no-repeat 0, -400px;
    text-align: center;
    background-size: cover;
    color: white;
}


.containers {
    margin: 0 auto;
    padding: 0;
    display: block;
    justify-content: space-around;
    max-width: 80vw;
    color: white;
}

.boxes {
    background-color: rgba(22,40,14,0.8);
    margin: 1rem;
    padding: 0.5rem;
    display: block;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    max-height: 220px;
    min-width: 350px;
    transition: all 250ms ease-out;
    color: white;
}

.boxes#rizalShrine:hover {
    background: url(../IMG/rizalShrinea.jpg);
    background-size: cover;

}

.boxes#mountMakiling:hover {
    background: url(../IMG/mountMakiling.jpg);
    background-size: cover;
}

.boxes#enchantedKingdom:hover {
    background: url(../IMG/enchantedKingdom.jpg);
    background-size: cover;
}

.boxes#japaneseGarden:hover {
    background: url(../IMG/japaneseGarden.jpg);
    background-size: cover;
}

.boxes#huluganFalls:hover {
    background: url(../IMG/huluganFalls.jpg);
    background-size: cover;
}

.boxes#nagcarlanUndergroundCemetary:hover {
    background: url(../IMG/UNDERGROUND_CEMETERY\,\,\,LAGUNA.jpg);
    background-size: cover;
}

.boxes#saintJohnTheBaptistChurch:hover {
    background: url(../img/church.jpg);
    background-size: cover;
}



.boxes:hover{
    background: #16280e;
    transform: translateY(-20%);
    color: black;
}


.boxes a{
    text-decoration: none;
    color: black;
}
.text h3{
    text-transform: uppercase;
    margin-bottom: 0;
    color: #f4f4f4;
    background-color:rgba(22,40,14,0.8);
}

.text p {
margin-top: 1rem;
line-height: 1.5rem;
text-align: left;
color: #f4f4f4;
background-color: rgba(22,40,14,0.8)s;
}

.text{
padding: 0.5rem;
background-color: rgba(22,40,14,0.4);
}


footer {
    background-color: rgba(22,40,14,0.5);
    color: #fff;
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    flex-basis: 30%;
  }
  
  .footer-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .social-links {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .social-links li {
    margin-right: 10px;
  }
  
  .social-links a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .social-links a:hover {
    color: #ccc;
  }