/* Universal */
* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: url(../IMG/Laguna.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    color: #9a784f;
    background: #16280e;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 2rem;
}

header nav {
    padding: 1rem 2rem;
}

    /* header h1 style */
        header h1 {
            letter-spacing: 2px;
            text-decoration: none;
            color: white;
        }

        header h1 a{
            padding: 1rem;
            margin: 1rem;
        }   

        header h1 a:visited {
            color: #f4f4f4;
        }

        header h1 a:hover {
            background-color:#ffce14;
            color: black;
            transition: 250ms ease-in;
        }


    /* header navigation */
        
        nav ul li{
            list-style: none;
            display: inline;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 5px;
        }

        nav li a{
            padding: 1rem;
            margin: 1rem;
            text-decoration: none;
            color: white;
            transition: all 250ms ease-in;
        }

        nav li a:hover {
            background-color: #ffce14;
            color: black;
        }


/* Content */


/* title */
.titles {
    color: white;
    text-align: center;
    width: 50rem;
    margin: 0 auto;
}

.titles h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    margin-bottom: 0;
    text-shadow: 1px 1px 0 black;
    color:#f4f4f4;

}

.titles p {
    letter-spacing: 1px;
    text-shadow: 1px 1px 0 black;
}


/* boxes */
.containers {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: left;
    max-width: 120vw;
    color: white;
 
}

.boxes {
    background-color: rgba(22,40,14,0.5);
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: left;
    max-width: 350px;
    max-height: 180px;
    min-width: 350px;
    transition: all 250ms ease-out;
    color: white;
    border: #16280e solid;
}

    

/*Animation*/
.boxes#rizalShrine:hover {
    background: url(../IMG/rizalshrine.jpg);
    background-size: cover;

}

.boxes#mountMakiling:hover {
    background: url(../IMG/mountMakiling.jpg);
    background-size: cover;
}

.boxes#enchantedKingdom:hover {
    background: url(../IMG/ekspress.jpg);
    background-size: cover;
}

.boxes#japaneseGarden:hover {
    background: url(../IMG/japaneseGarden.jpg);
    background-size: cover;
}

.boxes#huluganFalls:hover {
    background: url(../IMG/huluganFalls.jpg);
    background-size: cover;
}

.boxes#nagcarlanUndergroundCemetary:hover {
    background: url(../IMG/UNDERGROUND_CEMETERY\,\,\,LAGUNA.jpg);
    background-size: cover;
}

.boxes#saintJohnTheBaptistChurch:hover {
    background: url(../IMG/church.jpg);
    background-size: cover;
}



.boxes:hover{
    background: #16280e;
    transform: translateY(-20%);
    text-decoration: black;
}

.boxes a{
    text-decoration: none;
    color: black;
}


/* text */
.text h3{
    text-transform: uppercase;
    margin-bottom: 0;
    color: #ffffff;
    background-color: rgba(22,40,14,0.5);
    max-width: fit-content;
}

.text p{
    margin-top: 1rem;
    line-height: 1.5rem;
    text-align: left;
    color: #ffffff;
    background-color: rgba(22,40,14,0.5);
}

.text{
    padding: 0.5rem;
}



/* Media?? */

@media(max-width: 1160px) {
    .text h3 {
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 1rem;
    }

    .text p {
        margin-top: 1rem;
        line-height: 1.5rem;
        text-align: left;
        font-size: 0.8rem;
    }

    nav li a:hover {
        background: none;
        color: black;
    }
}


@media (max-width: 850px) {

    body {
        height: 100%
    }
    
    .containers{
        flex-direction: column;
    }

    .boxes:hover {
        background-color: rgba(225, 225, 225, 0.7);
        transform: none;
        color: black;
    }

    .titles h1 {
        font-size: 3rem;
    }
}

footer {
    background-color: rgba(22,40,14,0.5);
    color: #fff;
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-section {
    flex-basis: 30%;
  }
  
  .footer-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .social-links {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .social-links li {
    margin-right: 10px;
  }
  
  .social-links a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .social-links a:hover {
    color: #ccc;
  }